<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FCC - Twitch</title>
  <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css'>
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/12474798/MaterialDesign-Webfont-master/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body layout="row" ng-app="fccTwitch" ng-cloak>
  <div ng-controller="TwitchDashboardController" ng-cloak flex="100">
    <md-toolbar class="md-hue-2" layout="column" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate layout-align="center"> <md-icon class="mdi mdi-twitch mdi-24px"></md-icon> Twitch Viewer</h2>
        <md-button class="md-icon-button" style="color: white;">
          <md-icon class="mdi mdi-refresh mdi-24px" ng-click="onRefreshPageDataClicked()"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout="column">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="All">
          <md-content class="md-padding">
            <div ng-repeat="row in grid" flex layout="row">
              <div ng-repeat="item in row" flex layout="row" layout-align="center center" layout-margin class="box">
                <md-card flex="100">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{::item.name}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media"><img src="{{::item.logo}}" alt="streamer logo"></div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised">Action 1</md-button>
                    <md-button class="md-primary md-raised">Action 2</md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Online">
          <md-content class="md-padding">
            <div ng-repeat="row in grid" flex layout="row">
              <div ng-repeat="item in row | filter:{isStreaming: true}" flex layout="row" layout-align="center center" layout-margin class="box">
                <md-card flex="100">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{::item.name}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media"><img src="{{::item.logo}}" alt="streamer logo"></div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised">Action 1</md-button>
                    <md-button class="md-primary md-raised">Action 2</md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Offline">
          <md-content class="md-padding">
            <div ng-repeat="row in grid" flex layout="row">
              <div ng-repeat="item in row | filter:{isStreaming: false}" flex layout="row" layout-align="center center" layout-margin class="box">
                <md-card flex="100">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{::item.name}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media"><img src="{{::item.logo}}" alt="streamer logo"></div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised">Action 1</md-button>
                    <md-button class="md-primary md-raised">Action 2</md-button>
                  </md-card-actions>
                </md-card>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>
  <script src="js/index.js"></script>
</body>

</html>