<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>FCC - Twitch</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.8.36/css/materialdesignicons.min.css"
    rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body layout="row" ng-app="fccTwitch" ng-cloak>
  <div ng-controller="TwitchDashboardController" ng-cloak flex="100">
    <md-toolbar class="md-hue-2" layout="column" layout-align="center center" ng-show="!showSearch">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate layout-align="center">
          <md-button class="md-icon-button white-button">
            <md-tooltip md-direction="bottom">Refresh</md-tooltip>
            <md-icon class="mdi mdi-twitch mdi-24px" ng-click="onRefreshPageDataClicked()"></md-icon>
          </md-button>
          Twitch Viewer
        </h2>
        <md-button class="md-icon-button white-button" ng-click="showSearch = !showSearch">
          <md-tooltip md-direction="bottom">Search Channels</md-tooltip>
          <md-icon class="mdi mdi-magnify mdi-24px"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="showSearch">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
          <md-tooltip md-direction="bottom">Close</md-tooltip>
          <md-icon class="mdi mdi-close mdi-24px"></md-icon>
        </md-button>
        <md-input-container id="searchInput" md-theme="input" flex>
          <label>&nbsp;</label>
          <input ng-model="searchTerm" placeholder="Search Channels" ng-enter="onSearch(searchTerm)">
        </md-input-container>
        <md-button class="md-icon-button" aria-label="Search" ng-click="onSearch(searchTerm)">
          <md-tooltip md-direction="bottom">Search</md-tooltip>
          <md-icon class="mdi mdi-magnify mdi-24px"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout="column">
      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!showData">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <md-tabs md-dynamic-height md-border-bottom ng-show="showData" md-selected="selectedTab">
        <md-tab label="All">
          <md-content class="md-padding">
            <div class='md-padding' layout="row" layout-wrap layout-align="center">
              <md-card flex="30" flex-sm="100" flex-gt-lg="20" ng-repeat="streamer in streamers">
                <md-card-title ng-click="onCardClick(streamer)">
                  <md-card-title-text>
                    <span class="md-headline">{{::streamer.name}}</span>
                    <span class="md-subheader">{{::streamer.language}}</span>
                    <span class="md-subheader">
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Game:</b> {{::streamer.game}} <b>(@ {{::streamer.fps}} FPS)</b></p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Now Watching:</b> {{streamer.viewers}}</p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Total Views:</b> {{streamer.streamViews}}</p>
                      </span>
                  </md-card-title-text>
                  <md-card-title-media ng-click="onCardClick(streamer)">
                    <div class="md-media-md card-media">
                      <img ng-src="{{::streamer.logo}}" alt="streamer logo" ng-style="logoStyle">
                    </div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content ng-click="onCardClick(streamer)">
                  <p ng-if="streamer.isStreaming"><b>Now Streaming:</b> {{::streamer.nowStreaming}}</p>
                  <p ng-if="!streamer.isStreaming && streamer.isValidUser"><b>Offline</b></p>
                  <p ng-if="!streamer.isValidUser"><b>Streamer Not Found</b></p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-icon-button" aria-label="More info" ng-click="onMoreInfoButtonClicked(streamer.name, streamer.bio)"
                    ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">More Information</md-tooltip>
                    <md-icon class="mdi mdi-information-outline mdi-24px"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="mature content" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Mature Content</md-tooltip>
                    <md-icon class="mdi mdi-alert-circle mdi-24px" ng-style="isMatureColor(streamer.isMature)"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="now streaming" ng-click="onCardClick(streamer)" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Streaming</md-tooltip>
                    <md-icon class="mdi mdi-record mdi-24px" ng-style="isStreamingColor(streamer.isStreaming)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Online">
          <md-content class="md-padding">
            <div class='md-padding' layout="row" layout-wrap layout-align="center">
              <md-card flex="30" flex-sm="100" flex-gt-lg="20" ng-repeat="streamer in streamers | filter: {isStreaming:true}">
                <md-card-title ng-click="onCardClick(streamer)">
                  <md-card-title-text>
                    <span class="md-headline">{{::streamer.name}}</span>
                    <span class="md-subheader">{{::streamer.language}}</span>
                    <span class="md-subheader">
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Game:</b> {{::streamer.game}} <b>(@ {{::streamer.fps}} FPS)</b></p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Now Watching:</b> {{streamer.viewers}}</p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Total Views:</b> {{streamer.streamViews}}</p>
                      </span>
                  </md-card-title-text>
                  <md-card-title-media ng-click="onCardClick(streamer)">
                    <div class="md-media-lg card-media">
                      <img ng-src="{{::streamer.logo}}" alt="streamer logo" ng-style="logoStyle">
                    </div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content ng-click="onCardClick(streamer)">
                  <p ng-if="streamer.isStreaming"><b>Now Streaming:</b> {{::streamer.nowStreaming}}</p>
                  <p ng-if="!streamer.isStreaming && streamer.isValidUser"><b>Offline</b></p>
                  <p ng-if="!streamer.isValidUser"><b>Streamer Not Found</b></p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-icon-button" aria-label="More info" ng-click="onMoreInfoButtonClicked(streamer.name, streamer.bio)"
                    ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">More Information</md-tooltip>
                    <md-icon class="mdi mdi-information-outline mdi-24px"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="mature content" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Mature Content</md-tooltip>
                    <md-icon class="mdi mdi-alert-circle mdi-24px" ng-style="isMatureColor(streamer.isMature)"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="now streaming" ng-click="onCardClick(streamer)" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Streaming</md-tooltip>
                    <md-icon class="mdi mdi-record mdi-24px" ng-style="isStreamingColor(streamer.isStreaming)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Offline">
          <md-content class="md-padding">
            <div class='md-padding' layout="row" layout-wrap layout-align="center">
              <md-card flex="30" flex-sm="100" flex-gt-lg="20" ng-repeat="streamer in streamers | filter: {isStreaming:false}">
                <md-card-title ng-click="onCardClick(streamer)">
                  <md-card-title-text>
                    <span class="md-headline">{{::streamer.name}}</span>
                    <span class="md-subheader">{{::streamer.language}}</span>
                    <span class="md-subheader">
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Game:</b> {{::streamer.game}} <b>(@ {{::streamer.fps}} FPS)</b></p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Now Watching:</b> {{streamer.viewers}}</p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Total Views:</b> {{streamer.streamViews}}</p>
                      </span>
                  </md-card-title-text>
                  <md-card-title-media ng-click="onCardClick(streamer)">
                    <div class="md-media-lg card-media">
                      <img ng-src="{{::streamer.logo}}" alt="streamer logo" ng-style="logoStyle">
                    </div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content ng-click="onCardClick(streamer)">
                  <p ng-if="streamer.isStreaming"><b>Now Streaming:</b> {{::streamer.nowStreaming}}</p>
                  <p ng-if="!streamer.isStreaming && streamer.isValidUser"><b>Offline</b></p>
                  <p ng-if="!streamer.isValidUser"><b>Streamer Not Found</b></p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-icon-button" aria-label="More info" ng-click="onMoreInfoButtonClicked(streamer.name, streamer.bio)"
                    ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">More Information</md-tooltip>
                    <md-icon class="mdi mdi-information-outline mdi-24px"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="mature content" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Mature Content</md-tooltip>
                    <md-icon class="mdi mdi-alert-circle mdi-24px" ng-style="isMatureColor(streamer.isMature)"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="now streaming" ng-click="onCardClick(streamer)" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Streaming</md-tooltip>
                    <md-icon class="mdi mdi-record mdi-24px" ng-style="isStreamingColor(streamer.isStreaming)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Search Results" ng-if="showSearchResults">
          <md-content class="md-padding">
            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="!(searchResults.length===0)">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div layout="column" ng-hide="searchResults.length===0" layout-align="center center">
              <md-button class="md-button md-raised md-primary" aria-label="clear search results" ng-click="clearSearchResults()">
                    <md-tooltip md-direction="bottom">Clear Search Results</md-tooltip>
                    <i class="mdi mdi-broom mdi-24px"></i> Clear Search Results
                  </md-button>
            </div>
            <div class='md-padding' layout="row" layout-wrap layout-align="center">
              <md-card flex="30" flex-sm="100" flex-gt-lg="20" ng-repeat="streamer in searchResults | filter: {isStreaming:false}">
                <md-card-title ng-click="onCardClick(streamer)">
                  <md-card-title-text>
                    <span class="md-headline">{{::streamer.name}}</span>
                    <span class="md-subheader">{{::streamer.language}}</span>
                    <span class="md-subheader">
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Game:</b> {{::streamer.game}} <b>(@ {{::streamer.fps}} FPS)</b></p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Now Watching:</b> {{streamer.viewers}}</p>
                        <p ng-if="streamer.isStreaming && streamer.isValidUser"><b>Total Views:</b> {{streamer.streamViews}}</p>
                      </span>
                  </md-card-title-text>
                  <md-card-title-media ng-click="onCardClick(streamer)">
                    <div class="md-media-lg card-media">
                      <img ng-src="{{::streamer.logo}}" alt="streamer logo" ng-style="logoStyle">
                    </div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content ng-click="onCardClick(streamer)">
                  <p ng-if="streamer.isStreaming"><b>Now Streaming:</b> {{::streamer.nowStreaming}}</p>
                  <p ng-if="!streamer.isStreaming && streamer.isValidUser"><b>Offline</b></p>
                  <p ng-if="!streamer.isValidUser"><b>Streamer Not Found</b></p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-icon-button" aria-label="More info" ng-click="onMoreInfoButtonClicked(streamer.name, streamer.bio)"
                    ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">More Information</md-tooltip>
                    <md-icon class="mdi mdi-information-outline mdi-24px"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="mature content" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Mature Content</md-tooltip>
                    <md-icon class="mdi mdi-alert-circle mdi-24px" ng-style="isMatureColor(streamer.isMature)"></md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="now streaming" ng-click="onCardClick(streamer)" ng-disabled="!streamer.isValidUser">
                    <md-tooltip md-direction="bottom">Streaming</md-tooltip>
                    <md-icon class="mdi mdi-record mdi-24px" ng-style="isStreamingColor(streamer.isStreaming)"></md-icon>
                  </md-button>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js'></script>
  <script src="js/index.js"></script>
</body>

</html>