body {
    background: url("https://cdn-images-1.medium.com/max/1920/1*4ncwx3GoiqWwcz2jaNJ0Dg.jpeg");
    background-size: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Yatra One', cursive;
    text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.7);
    font-size: 4em;
}

h4 {
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.7);
    font-size: 2em;
}

h5 {
    padding-top: 2vh;
    text-align: center;
    font-size: 2em;
    font-family: 'Playfair Display', serif;
}

#random {
    margin: 0 auto;
}

#searchStuff {
    text-align: center;
    padding-top: 10vh;
    margin: 0 auto;
}

#searchform {
    text-align: center;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .search-form-size {
        max-width: 40vw;
    }
}

@media screen and (max-width: 599px) {
    .search-form-size {
        max-width: 80vw;
    }
}

#results {
    background-size: cover !important;
    margin: 0 auto;
    display: none;
    color: white;
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 10vw;
}

li {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    list-style-type: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

div>p {
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2em;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vh;
}

div>h5 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

hr {
    color: white;
}

#srch-term {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: white;
    -webkit-text-fill-color: white !important;
}

.btn-default {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

li:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    -moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.67);
}

.back-to-top {
    margin: 0;
    position: fixed;
    width: 5vw;
    height: 5vh;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background: none;
}

.back-to-top i {
    font-size: 4em;
}

@media screen and (min-width: 600px) {
    .back-to-top-button-padding {
        right: 3vw;
        bottom: 5vh;
    }
}

@media screen and (max-width: 599px) {
    .back-to-top-button-padding {
        right: 10vw;
        bottom: 5vh;
    }
}