@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/css/weather-icons-wind.css");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/css/weather-icons-wind.min.css");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/css/weather-icons.css");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/css/weather-icons.min.css");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/font/weathericons-regular-webfont.eot");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/font/weathericons-regular-webfont.svg");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/font/weathericons-regular-webfont.ttf");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/font/weathericons-regular-webfont.woff");
@import url("https://dl.dropboxusercontent.com/u/12474798/weather-icons-css/font/weathericons-regular-webfont.woff2");
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body {
    background-repeat: repeat;
    background-size: cover;
}

#unitsButton {
    padding-top: 1.5vh;
    padding-right: 1vw;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Raleway';
}

#locationInfo {
    padding-bottom: 1.5vh;
    position: fixed;
    bottom: 0;
    text-align: left;
    width: 100%;
}

h1 {
    padding-top: 10vh;
    font-family: 'Kaushan Script';
    color: black;
}

#temp {
    padding-top: 5vh;
}

#temp,
#wid,
#windDir,
#windSpeed {
    font-family: 'Raleway';
    color: black;
    font-weight: bold;
}

#country,
#time {
    font-family: 'Raleway';
    color: black;
    font-weight: bolder;
}

@media screen and (min-width: 700px) {
    i {
        color: black;
        font-size: 2.5em;
    }
    #weatherInfo {
        padding-top: 10vh;
        font-size: 1.5em;
    }
    #windInfo {
        padding-top: 5vh;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 500px) and (max-width:699px) {
    i {
        color: black;
        font-size: 2.5em;
    }
    #weatherInfo {
        padding-top: 10vh;
        font-size: 1.3em;
    }
    #windInfo {
        padding-top: 5vh;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 499px) {
    i {
        color: black;
        font-size: 2.5em;
    }
    #weatherInfo {
        padding-top: 10vh;
        font-size: 1em;
    }
    #windInfo {
        padding-top: 5vh;
        font-size: 1em;
    }
}